div h6{
    color: rgb(233, 72, 72);
    
}
.cls1 {
    width: 700px;
}
.cls2 {
    font-size: small;
}
.cls3{
    font-size: xx-small;
}
.cls4 {
    width: 300px;
}
.cls5 {
    width: 150px;
}
.cls51{
    width: 150px;
    object-position: center top;
}
.cls52{
    width: 150px;
}
.cls53{
    width: 150px;
}