<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <h3 id="logo"><i class="fa fa-map-marker"></i> Logo</h3>

    <div class="backimg">
        
        <div class="searchbutton">
            <div class="buttonform">
                <div id="button1"><i class="fa fa-plane"></i> Flight</div>
                <div id="button2"><i class="fa fa-hotel"></i> Hotel</div>
                <div id="button3"><i class="fa fa-car"></i> Rental</div>
            </div>
            <form action="" id="form">
                
                <span id="travel">Travel the world with us</span>
                <div>
                    <span id="from">From</span>
                    <span id="to">To</span>
                </div>
                <div id="text">
                    <input type="text" placeholder="Departing from" id="depart">
                    <input type="text" placeholder="Arriving at" id="arrive">
                </div>
                <input type="submit" value="search and find dates" id="search">
            </form>
        </div>
    </div>
    <p id="good">Good Offers Right Now</p>
    <p id="up">Up to <b>50%</b> discount</p>
    <div class="images">
        <img src="../assets/img/cinqueterre.jpg" alt="" id="cinqueterre">
        <img src="../assets/img/newyork.jpg" alt="" id="newyork">
        <img src="../assets/img/pisa.jpg" alt="" id="pisa">
        <img src="../assets/img/sanfran.jpg" alt="" id="sanfran">
        <img src="../assets/img/paris.jpg" alt="" id="paris">
    </div>
    <p id="explore">Explore Nature</p>
    <p id="travel2">Travel with us and see nature at its finest</p>
    <div class="images2">
        <div class="fig1">
            <img src="../assets/img/ocean.jpg" alt="" id="ocean">
            <span id="west">West Coast, Norway</span><br>
            <span id="round">Round trip from $79</span><br>
            <span id="round">Hotel sorted at a cheaper rate</span><br>
            <span id="buy">Buy Tickets</span>
        </div>
        <div class="fig2">
            <img src="../assets/img/mountains.jpg" alt="" id="mount">
            <span id="west">Mountains, Austria</span><br>
            <span id="round">One-way from $39</span><br>
            <span id="round">Hotel sorted at a cheaper rate</span><br>
            <span id="buy">Buy Tickets</span>
        </div>
    </div>
        <div>
            <form action="" id="form2">
                <p id="get"> Get the best offers first!</p>
                <p id="join">Join our newsletter.</p>
                <p id="mail">E-mail</p>
                <input type="text" placeholder="Your Email address" id="input"><br>
                <input type="submit" value="Subscribe" id="submit">
                
            </form>
        </div>
        <div class="contact">

           <p id="contact">Contact</p>
           <p id="letus">Let us book your next trip!</p>

            <span id="let"><i class="fa fa-map-marker" style="width: 29px;"></i>Chicago, US</span><br>
            <span id="let"><i class="fa fa-phone" style="width: 25px;"></i> Phone +00151515</span><br>
            <span id="let"><i class="fa fa-envelope" style="width: 25px;"></i> Email: mail@mail.com</span><br>
            <input type="text" placeholder="Name" id="name"><br>
            <input type="text" placeholder="Email" id="name"><br>
            <input type="text" placeholder="Message" id="name"><br>
            <input type="submit" value="SEND MESSAGE" id="send">
        </div>
        <div class="icon">
            <p id="find">Find Us On</p>
            <div id="icon">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-snapchat-ghost"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            </div>
            <p id="power">Powered by <a href="#">w3css</a></p>
        </div>
    
      
    
</body>
</html>