*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bcolor{
    background-image: url('../img/london.jpg');
    width: 100%;
    height: 400px;
    
}

.buttonsform{
    display: flex;
    
    
    
    
}

.searchform{
    width: 60%;
    object-position: center;

}

#button1{
    color: white;
    background: red;
    width: 350px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    margin-top: 150px;
    
}
#button2{
    margin-top: 150px;
    color: white;
    background: black;
    width: 350px;
    height: 20px;
    text-align: center;
    font-size: 12px
    
    
}
#button3{
    color: white;
    background: black;
    width: 350px;
    height: 20px;
    margin-top: 150px;
    font-size: 12px;
}
#form{
    background: white;
    
    

    
    
}
.froto{
    display: flex;
    
}
#from{
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 5px;
}
#to{
    font-size: 12px;
    margin-left: 210px;
}
.Travel{
    text-align: left;
    margin-left: 15px; 
}
#depart{
    margin-right: 10px;
    width: 250px;
    margin-left: 10px
}
#arrive{
    width: 250px;
    margin-right: 10px;
}
.deparri{
    display: flex;
    margin-top: -20px;
    margin-bottom: 1px;
}
#submit{
    margin-top: 1px;
    margin-right: 357px;
    margin-bottom: 20px;
    background: gray;
    color: white;
    font-size: 9px;
    width: 100px;
    height: 25px;
    margin-left: 10px;
}

#id1{
    color: rgb(243, 20, 20);
    margin: 10px;
    font-size: 20px;
}
.cls1{
    width: 100%;
    

    
}
.cls2{
    color: rgb(102, 100, 100);
    font-size: 14px;
    margin: 15px;
    margin-left: 70px;
    
    
}
.cls3{
    font-size: 9px;
    margin-left: 70px;
    margin-bottom: 10px ;
    color: gray
}

.flex-container{
    display: flex;
}
.cls4{
    width: 300px;
    margin-left: 70px;
}
.cls5{
    width: 145px;
    margin-left: 5px;
    margin-bottom: 119px;
    
}
.cls6{
    width: 145px;
    margin-left: -150px;
}
.cls7{
    width: 145px;
    margin-left: 5px;
    margin-bottom: 119px;
}
.cls9{
    width: 145px;
    margin-left: -149px;
    margin-top: 10px;
}
#id2{
    width: 300px;
    margin-left: 70px;
}
#id3{
    font-size: 14px;
    color: rgb(102, 100, 100);
    margin-left: 80px;
    margin-top: 5px;
    background-color: white;
}
.cls01{
    font-size: 9px;
    color: gray;
    margin-left: 80px;
    margin-top: 10px;
    background-color: white;
}
#id6{
    font-size: 9px;
    margin-left: 90px;
    margin-top: 15px;
    color: rgb(102, 100, 100);
    background-color: white;
}
#id7{
    width: 300px;
    margin-left: 8px;
}
#id8{
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
    background-color: white;
    color: rgb(102, 100, 100);
    
    
}
.cls0{
    font-size: 9px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    color: gray
    
}
#id11{
    font-size: 9px;
    margin-left: 30px;
    margin-top: 15px;
    color: gray;
    background-color: white;
}
.box2{
    background-color: white;
    
}
.box1{
    background-color: white;
}
#id13{
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    background: orangered;
    font-size: 9px;
    height: 20px;
    width: 50px;
    margin-bottom: 10px;

}

#box{
    box-sizing: border-box;
    width: 100%;
    margin-left: 70px;
    background-color:gray;
}
.cls10{
    font-size: 16px;
    margin-top: 50px;
    margin-left: 10px;
    color: white;
    

}
.cls11{
    font-size: 9px;
    margin-top: 13px;
    color: white;
    margin-left: 10px;
}
.placeholder{
    width: 590px;
    height: 30px;
    background-color: white;
    font-size: 10px;
    color: gray;
    margin-left: 10px;
    margin-top: 10px;
}
.cls13{
    color: white;
    background-color:rgb(240, 131, 131);
    font-size: 8px;
    width: 60px;
    height: 22px;
    margin-top: 7px;
}
.cls14{
    font-size: 16px;
    margin-left: 70px;
    margin-top: 20px;
}
.cls15{
    font-size: 10px;
    margin-left: 70px;
    margin-top: 15px;
    margin-bottom: 13px;
    color:rgb(65, 40, 40);
}
.cls16{
    margin-left: 70px;
    font-size: 12px;
    color: rgb(65, 40, 40);
}
.cls17{
    margin-left: 70px;
    margin-top: 10px;
    font-size: 9px;
    width: 610px;
    height: 35px;
    background-color: white;
}
.cls18{
    margin-left: 70px;
    margin-top: 10px;
    font-size: 9px;
    background: rgb(63, 59, 59);
    color: rgb(243, 236, 236);
    height: 30px;
    width: 100px;
}
.cls19{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}
#id123{
    text-align: center;
    color: gray;
}
.cls20{
    font-size: 9px;
    color: gray;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}





